#menu .links-wrapper .dropdown-content a{
text-transform: none;
}

.card-image::after{
content: '';
position: absolute;
inset: 0;
background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(0,0,0,0.63) 38%, rgba(0,0,0,0.33) 67%, rgba(0,0,0,0) 100%) !important;
pointer-events:none;
}

.card-imagem-text{
z-index: 2 !important;
}

#destaques .cards-wrapper .swiper-slide{
max-width: 260px;
}
#destaques .swiper-button-next, #destaques .swiper-button-prev  {
color: black !important;
}



[js-page] {
  display: none;
}


:root {
    --home_bg: url(https://alfaleiloes-novo.s3.amazonaws.com/static/front_assets/src/assets/img/home-background.webp)
   
}

@font-face {
    font-family: "Century Gothic";
    src: url("https://alfaleiloes-novo.s3.amazonaws.com/static/front_assets/src/assets/fonts/GOTHIC.TTF") format("truetype");
    font-weight: 400;   
}
@font-face {
    font-family: "Century Gothic";
    src: url("https://alfaleiloes-novo.s3.amazonaws.com/static/front_assets/src/assets/fonts/GOTHICB.TTF") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Century Gothic";
    src: url("https://alfaleiloes-novo.s3.amazonaws.com/static/front_assets/src/assets/fonts/GOTHICBI.TTF") format("truetype");
    font-weight: 600;
    font-style: italic;
}

.readonly {
background: rgb(233, 233, 233) !important;
opacity: 0.5 !important;
pointer-events: none;
}

.admin-login #header-form{
    display: none;
}
.admin-login .container-main{
  margin-top: 0;
}
#menu .links-wrapper .dropdown-content a.button-ofertas {
    text-transform: none;}

    .button-ofertas {
        display: inline-block;
        padding: 10px 20px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
      }
      
      .button-ofertas:hover {
        background-color: white;
        color: black;
      }
      /* Estilo do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Estilo do botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Estilo do botão de ofertas */
.button-ofertas {
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-ofertas:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
